
/*-------- CONTAINER ---------
----------------------------*/



@media all and (max-width: 599px){

  .logo {margin: 13px 0 0;}
  .container {width: 95%;}

  .square-box{height: 380px;}
  .square-box.tamanio1 {height: 340px;}
  .square-box.border {border-bottom: 1px solid #ddd;}
  .square-box.tam {height: 220px;}

  .middle { padding-top: 1%;}

  .square-content.text {padding: 5%; font-size: 16px; line-height: 22px;}
  .square-content p {display: block; vertical-align: middle; padding: 2%; text-align: left;}
  .square-content h2 {padding:2% 1%; font-size: 20px;}

  .module.parallax-3, .module.parallax-4 {height:250px;}
  .module .frase {line-height: 1.2; padding-top: 6%;}
  .module .container p {font-size: 16px;}

  .square-box-foto {width: 100%;padding-bottom: 8px;}

  .logo-empresa{width: 33.3333%;}

  .video-gallery h2{ font-size:16px;}

  .module.parallax-1 {height: 400px; background-position: 63% 85%; background-attachment: fixed;}
  .module .text-libro {padding: 5%; font-size: 16px; line-height: 22px; padding-top: 8%;}
  .text-libro h2 {padding: 5% 0 2%; font-size: 22px; line-height: 1.3;}
  .text-libro h3 {font-size: 18px; padding-bottom: 5%}

  #libro .square-container{height: 620px;}
  .texto-libro {padding: 10% 5% 5%; width: 100%; font-size: 16px; line-height: 22px;}
  .img-libro {display: none;}
  .texto-libro ul li {list-style-image: url('../images/list.png'); color: #ff4229;}
  .texto-libro p { padding-bottom: 1%; font-size: 16px; line-height: 22px;}
  .texto-libro li p {color:#676767; line-height: 22px;}
  .texto-libro .border {font-size: 16px;}

  #bio h1{padding-top: 0;}

  .bio-block{width: 100%;padding: 5% ;}
  .bio-block p{padding-bottom: 1%;font-size: 16px;line-height: 22px;}
  .bio-block p span{font-size: 20px;color: black;}

  .bio-block ul {margin-left: 0;}
  .bio-block ul li {list-style-image: url('../images/list.png');}

  .bio-block ul li p {line-height: 22px;}

  .foto-block {width: 100%;float: none;padding-bottom: 80%;}

  #contacto .module.parallax { height: 700px;}
  #contacto .module.parallax h1 { margin-bottom: 5%; }

  #contact-div p{font-size: 16px; }

  .second h1, .title h1{margin-bottom:10%;}

    .cd-hero-slider h2 {
    font-size: 1.6em;
    font-weight: normal;

  }
  .cd-hero-slider p {
    font-size: 1.5rem;
 }

 .cd-hero-slider .subtitle {
  font-size: 1.5rem;
  margin-top: -5px;
 }

.module.parallax-3 {
  /*height: 350px;*/
  /*background-position: 80% 50%;*/
  background-attachment: scroll;
  background-image: url("../images/IMG_8873-phone.jpg");
}

.module.parallax-4 {
  /*height: 350px;
  background-position: 50% 90%;*/
  background-attachment: scroll;
  background-image: url("../images/conferencia-cover-phone.jpg");
}

.module.parallax-1 {
  /*height: 450px;
  background-position: 80% 85%;*/
  background-attachment: scroll;
    background-image: url("../images/libro-cover-phone.jpg");

}

footer{
  font-size: 12px;
  text-align: center;
}


}

@media all and (min-width: 320px) and (max-width:533px){
  #libro .square-container{height: 880px;}
  .texto-libro p { padding-bottom: 1%; font-size: 16px; line-height: 22px;}

}

@media all and (min-width: 341px) and (max-width: 404px){
  #libro .square-container{height: 780px;}
  .texto-libro p { padding-bottom: 1%; font-size: 16px; line-height: 22px;}

}

@media all  and (min-width: 405px) and (max-width:471px){
  #libro .square-container{height: 700px;}
}

@media all and (max-width: 310px) {
    #libro .square-container{height: 980px;}
    .texto-libro p { padding-bottom: 1%; font-size: 16px; line-height: 22px;}


}
@media all and (min-width: 500px){

  .square-content.text {padding: 2%; font-size: 18px; line-height: 22px;}
  .square-content h2 {padding:2% 1%; font-size: 22px;}

  .module .text-libro {padding: 5%; font-size: 18px; line-height: 22px; padding-top: 8%;}
  .text-libro h2 {padding: 3% 0 2%; font-size: 26px; line-height: 1.3;}
  .text-libro h3 {font-size: 22px; padding-bottom: 5%}
  .texto-libro { font-size: 18px; }

  .texto-libro p { padding-bottom: 1%; font-size: 18px; line-height: 22px;}
  .texto-libro .border {font-size: 18px;}
  #libro .square-container{height: 660px;}

}

@media all and (min-width: 600px) and (max-width:799px){


  .logo-empresa{width: 20%;}
  .cd-hero-slider {height: 650px;}
  .container {width: 90%;}
  .container-text {width: 80%;}
  .logo {margin: 13px 0 0;}
  .square-content p {padding: 1%;}
  .img-libro {display: none;}

  .square-box{width:100%;height: 380px;}
  .square-box.tamanio1 {height: 340px;}
  .square-box.border {border-bottom: 1px solid #ddd;}
  .square-box.tam {height: 260px;}

  .middle { padding-top: 1%;}

  .square-content.text {padding: 5%; font-size: 18px; line-height: 22px;}
  .square-content p {display: block; vertical-align: middle; padding: 2%; text-align: justify;}
  .square-content h2 {padding:1%; font-size: 22px;}

  .module.parallax-3, .module.parallax-4 {height:260px;}
  .module .frase {line-height: 1.2; padding-top: 8%;}
  .module .container p {font-size: 18px;}

  .module.parallax-1 {height: 380px; background-position: 63% 85%; background-attachment: fixed;}
  .module .text-libro {padding: 5%; font-size: 18px; line-height: 22px; padding-top: 8%;}
  .text-libro h2 {padding: 3% 0 2%; font-size: 26px; line-height: 1.3;}
  .text-libro h3 {font-size: 22px; padding-bottom: 5%}

  #libro .square-container{height: 620px;}
  .texto-libro {padding: 10% 5% 5%; width: 100%; font-size: 18px; line-height: 22px;}
  .img-libro {display: none;}
  .texto-libro ul li {list-style-image: url('../images/list.png'); color: #ff4229;}
  .texto-libro p { padding-bottom: 1%; font-size: 18px; line-height: 22px;}
  .texto-libro li p {color:#676767; line-height: 22px;}
  .texto-libro .border {font-size: 18px;}

  .bio-block{width: 100%;padding: 5% ;}
  .bio-block p{padding-bottom: 1%;font-size: 18px;line-height: 22px;}
  .bio-block p span{font-size: 22px;color: black;}



 .cd-hero-slider h2 {
    font-size: 2.3em;
    font-weight: normal;

  }
  .cd-hero-slider p {
    font-size: 1.5rem;
 }

 .cd-hero-slider .subtitle {
  font-size: 1.8rem;
  margin-top: -5px;
 }

.module.parallax-3 {
  /*height: 350px;*/
  background-position: 50% 70%;
  background-attachment: scroll;
  background-image: url("../images/IMG_8873-tablet.JPG");
}

.module.parallax-4 {
  background-position: 50% 10%;
  background-attachment: scroll;
  background-image: url("../images/conferencia-cover-tablet.jpg");
}

.module.parallax-1 {

  background-attachment: scroll;
    background-image: url("../images/libro-cover-tablet.jpg");

}


}


/*---------- MENU -----------
----------------------------*/

@media only screen and (min-width: 832px) {

  header {
    height: 60px;
  }

  .logo {
    margin: 15px 0 0;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    width: 90%;
  }

  .container-text {
    width: 80%;
  }

  .logo {
    margin: 16px 0 0;
  }

}

@media screen and (min-width: 832px) {

  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .mask {
    display: none !important;
    opacity: 0 !important;
  }


  .nav-collapse {
    float: right;
    width: auto;
  }


.nav-collapse li {
  float: left;
  width: 100%;
}

  .nav-collapse li {
    width: auto;
  }

  .nav-collapse a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: 22px 32px 0 0;
    border-top: none;
    color: #ddd;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600
  }


   .nav-collapse a:hover {
     color: white;
   }

  .nav-collapse a.last-menu {
    padding: 10px;
    margin: 10px 0 0;
    color: #3563b5;
    border: 2px solid #3563b5;
    box-shadow: inset 0 0 0 0 #3563b5;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-weight: bold;
  }
  .nav-collapse a.last-menu:hover {
      box-shadow: inset 130px 0 0 0 #3563b5;
      color: #FFF;
  }

  .nav-collapse ul ul a {
    display: none;
  }
}



@media all and (min-width: 800px) and (max-width:1024px){
    .img-libro {display: none;}
    .texto-libro {padding: 5% 0; width: 100%; font-size: 18px; line-height: 22px;}
	  .square-box{height: 400px;}
	    .square-box.tam {height: 260px;}

}




@media all and (min-width: 700px) and (max-width: 1024px){

#form-main{
  margin:0 auto;
  width: 90%;
}

#form-div {
  padding: 20px 25px;
  width: 60%;
  float: left;
  margin-bottom:30px;
  margin-top: 20px;
}

#contact-div {
  margin-top: 20px;

  padding: 20px 30px;
  line-height: 1.8;
  padding-top:5%;
  float: left;;
  margin-bottom:25px;
  margin-right: 5px;
  margin-left: 20px;
  color: white;
  height: 430px;
  width: 35%;

}
  #contacto .module.parallax { height: 600px;}

#contact-div h3{font-size: 20px;  margin-bottom: 15px;}

#libro .square-container{height: 580px;}

}


@media all and (max-width: 800px){
  #form-main{
  margin:0 auto;
  width: 90%;
}

#form-div {
  padding: 20px 25px;
  width: 100%;
  float: left;
  margin: 0;
  margin-bottom:30px;
  margin-top: 5px;
}

#contact-div {
  margin: 0;
  margin-top: 20px;
  padding: 20px 30px;
  line-height: 1.8;
  float: left;
  color: white;
  height: 100%;
  width: 100%;

}

#contacto .title {padding-top: 20px;}


#contact-div h3{font-size: 20px;  margin-bottom: 15px;}

  #contacto .module.parallax { height: 850px;}
  #contacto .module.parallax h1 { margin-bottom: 5%; }


}


@media all and (min-width: 1025px) and (max-width: 1210px){
	.square-box{height: 440px;}
	    .square-box.tam {height: 260px;}



}
@media all and (min-width: 1400px){...}


@media only screen and (min-width: 1180px){

    .square-box.tam {height: 300px;}

	  .square-box-foto {width: 33.3%;}

}


@media only screen and (min-width: 1140px) {
  .cd-hero-slider {
    height: 700px;
  }
     #libro .square-container{height: 560px;}


}

@media only screen and (min-width: 1270px) {
     .cd-hero-slider {
    height: 650px;
  }

  .square-content.text {
    padding: 8%;
  }
  .container {
    width: 90%;
  }

   #libro .square-container{height: 550px;}
  .texto-libro {width: 75%; }
  .img-libro { width: 25%;}

}


@media only screen and (min-width: 768px) {
	 .cd-hero-slider li:nth-of-type(1) {
    background-image: url(../images/edificios3.jpg);
  }

  .cd-hero-slider li:nth-of-type(2) {
    background-image: url(../images/IMG_8873.JPG);
  }
  .cd-hero-slider li:nth-of-type(3) {
    background-image: url(../images/conferencias-bg.jpg);
  }

  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 250px;
  }
  .cd-hero-slider .cd-bg-video-wrapper {
    display: block;
  }
  .cd-hero-slider .cd-half-width {
    width: 45%;
  }
  .cd-hero-slider .cd-half-width:first-of-type {
    left: 5%;
  }
  .cd-hero-slider .cd-half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .cd-hero-slider .cd-img-container {
    display: block;
  }
  .cd-hero-slider h2, .cd-hero-slider p {
    max-width: 520px;
  }
  .cd-hero-slider h2 {
    font-size: 2.4em;
  font-weight: 400;
  }
  .cd-hero-slider .cd-btn {
    font-size: 1.4rem;
  }


/*Slider nav*/

   .cd-slider-nav {
    height: 50px;
  }
  .cd-slider-nav .cd-marker,
  .cd-slider-nav li {
    width: 40px;
  }
  .cd-slider-nav a {
    padding-top: 48px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .cd-slider-nav a::before {
    top: 18px;
  }
}


@media all and (min-width: 800px) and (max-width:1140px){
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 180px;
    }

  }

/* --------------------------------

Single slide animation

-------------------------------- */
@media only screen and (max-width: 769px) {

  .cd-fixed-bg {
    background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  }


  .cd-hero-slider li:nth-of-type(1) {
  background-image: url(../images/juan-home-phone.jpg);
}

.cd-hero-slider li:nth-of-type(2) {
  background-image :url(../images/shows-phone.jpg);
}
.cd-hero-slider li:nth-of-type(3) {
  background-image: url(../images/conferencias-phone.jpg);
}



}


@media only screen and (min-width: 768px) {

  .cd-hero-slider .cd-half-width {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
  }
  .cd-hero-slider .move-left .cd-half-width {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  .cd-hero-slider .selected .cd-half-width {
    /* this is the visible slide */
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-hero-slider .is-moving .cd-half-width {
    /* this is the slide moving outside the viewport
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
  .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
  .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
  }
  .cd-hero-slider .cd-full-width h2,
  .cd-hero-slider .cd-full-width p,
  .cd-hero-slider .cd-full-width .cd-btn {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  .cd-hero-slider .move-left .cd-full-width h2,
  .cd-hero-slider .move-left .cd-full-width p,
  .cd-hero-slider .move-left .cd-full-width .cd-btn {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  .cd-hero-slider .selected .cd-full-width h2,
  .cd-hero-slider .selected .cd-full-width p,
  .cd-hero-slider .selected .cd-full-width .cd-btn {
    /* this is the visible slide */
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-hero-slider li.is-moving .cd-full-width h2,
  .cd-hero-slider li.is-moving .cd-full-width p,
  .cd-hero-slider li.is-moving .cd-full-width .cd-btn {
    /* this is the slide moving outside the viewport
    wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .cd-hero-slider li.selected h2 {
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .cd-hero-slider li.selected p {
    -webkit-transition: opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s;
    -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
    transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
  }
  .cd-hero-slider li.selected .cd-btn {
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s, background-color 0.2s 0s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
  }
}



@media only screen and (min-width: 1170px) {

  .cd-fixed-bg {
    background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  }


  .cd-hero-slider li:nth-of-type(1) {
  background-image: url(../images/edificios2.jpg);
}

.cd-hero-slider li:nth-of-type(2) {
  background-image :url(../images/IMG_8873.JPG);
}
.cd-hero-slider li:nth-of-type(3) {
  background-image: url(../images/conferencias-bg.jpg);
}

  .cd-main-content {
    padding: 3em 0;
  }
  .cd-main-content p {
    font-size: 1.6rem;
  }

  .cd-hero-slider .cd-full-width,
  .cd-hero-slider .cd-half-width {
    padding-top: 250px;
  }
  .cd-hero-slider h2, .cd-hero-slider p {
    margin-bottom: 10px;
  }
  .cd-hero-slider h2 {
    font-size: 3.2em;
  }
  .cd-hero-slider p {
    font-size: 1.9rem;
    line-height: 1.2;
 }

 .cd-hero-slider .subtitle {
  font-size: 2.3rem;
  margin-top: -5px;
 }



}


@media screen and ( max-width: 1360px ) {

  .square-content.text {
  	padding: 8%;
  }
  .square-content p {
      display: block;
      vertical-align: middle;
      padding: 2%;

  }

}



@media screen and ( max-width: 1280px ) {
	.square-content p {
    display: block;
    vertical-align: middle;
    padding: 2%;
  }

  #bio .square-content.text {
  	padding-left: 5%;
  	padding-right: 5%;
  }
}

@media screen and ( max-width: 1120px ) {
   .square-box{

    overflow: hidden;
    background: #fff;
	 float:left;
}

  .square-box-width{
  	height: 350px;
  }


  .foto-block{
  	padding-top: 5%;
  }

}




@media screen and ( max-width: 736px ) {
	.square-box-2:before{
    padding-top: 120%;
  }

  #bio .square-content p {
  	padding: 1%;
  }
    .square-box{
      width: 100%;
      overflow: hidden;
      background: #fff;
    	float:left;
  }

  .square-box-2:before{
      padding-top: 100%;
  }

  .square-content p {
    padding: 1%;
  }

  .square-box-width{
  	height: 200px;
  }


  .foto-block{
  	background-image: url(../images/bio.png) no-repeat center;
  	width: 100%;
  	height: 172px
  }


  .square-box-2:before{
      padding-top: 180%;
  }

  .descripcion p{
  	font-size:12px;
  	padding-bottom: 5%;
  }


}

@media screen and ( max-width: 800px ) {
	.square-box-width{
	height: 280px;
  }
}



@media screen and ( max-width: 912px ) {


      .square-content p {
       padding: 2%;
    }

    .square-box-width{
      height: 300px;
    }

    .foto-block{
      width: 100%;
      background-image: url(../images/bio-min.png) no-repeat center;
      height: 450px;
      padding-top: 0;
      margin-top: -20px;
      padding-left: 20%;
    }

    .bio-block{
      width: 100%
    }

    .universidades{
        display: none;
    }


}